<h1>New Album Page</h1>

<form action="/new_album" method="post">
  <label for="album">Enter the name of the album</label>
  <input type="text" name="album" id="album">
  <label for="year">Enter the release year of the album</label>
  <input type="text" name="year" id="year">
  <button type="submit">Add album</button>
</form>
