<h1>New Artist Page</h1>

<form action="/new_artist" method="post">
  <label for="artist">Enter the name of the artist</label>
  <input type="text" name="artist" id="artist">
  <button type="submit">Add Artist</button>
</form>
